.button{

  padding:1em;
  margin-top:3em;
  margin-bottom: 1.5em;
  min-width: 120px;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  border: none;
  color:#fff;
  background:$orange;

  transition: background .3s ease-in-out;
  border-radius: $borderRadius;

  text-decoration: none;

  &:hover{
    background: darken($orange, 5);
  }

  &--outline{

    background: transparent;
    border:1px solid #fff;
    color:#fff;

    &:hover{
      background: $orange;
      border: 1px solid transparent;
    }

  }

  @media (max-width: $mobileBreakpoint) {
    padding: 10px;
    margin:10px;
    max-width: 140px;
  }
}