.card{

  width: 350px;
  margin:3em;
  text-align: center;
  position: relative;
  min-height: 300px;

  &__content{
    position: relative;
    background: #ccc;
    padding-top:$cardContentPadding;
    padding-bottom: 5vh;
    padding-left:1.5em;
    padding-right:1.5em;
  }

  &__header{
    min-height: 100px;
    padding-top:1.5em;
    padding-bottom: 1.5em;
    font-weight: bold;
  }

  &--primary{
    .card__header{
      background:$orange;
      color:#fff;
    }
  }
  &--secondary{
    .card__header{
      background: #333;
      color:#fff;
    }
  }
  .card-price{

    width: 120px;
    height: 120px;
    padding:10px;
    background: rgba(255,255,255,.6);
    position: absolute;
    transform: translate(-50%,calc(-50% + -#{$cardContentPadding}));
    left:50%;
    border-radius: 50%;
    font-weight: bold;

    .price-inner{
      width: 100%;
      height: 100%;
      background: white;
      border-radius: 50%;

      @include centerFlex;
    }
  }

}