.Explanation{
  background: #333;

  &__content{

    padding: 5vh 0;

    color: #fff;
    flex:1;


    .explanation,.leads,.graphs,.prices{
      max-width: 500px;
      padding:20px;
      margin: 0 auto;
    }

    h1,h2,h3,h4,a{
      color:$orange;
    }
  }

  &__image{

    flex:1;
    background-image: $explanationBackground;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }

  h3{
    margin-bottom: 10px;
  }

  .explanation-wrapper{
    position: relative;

  }

  .explanation,.leads,.prices,.graphs{
    min-height: 10vh;
    padding-right: 2vw;
    .usp{
      position: absolute;
      right:0;
      top:0;
      transform:translate(50%,50%);
    }
  }
  @media (max-width: $tabletBreakPoint) {
    &__content{
      padding-left:2.5em;
      padding-right: 2.5em;
    }
  }
  @media (max-width: 1400px) {
    .explanation,.leads,.prices,.graphs{
      padding:0;
      h3{margin:0;}
      .usp{
        display: none;
      }
    }

    .explanation-wrapper{
      margin-top:0;
      margin-bottom: 0;
    }
  }


}