footer{
  background: #333333;
  color: #fff;
  height: $footerHeight;
  padding:10px 30px;



  .social img{
    margin-left: 20px;
  }

  @media (max-width: $mobileBreakpoint) {
    height: auto;
    .row{
      @include centerFlex;
    }

    .social{
      margin-top:20px;
      margin-bottom: 20px;
    }

  }
}