.Header{

  background:linear-gradient(to bottom, rgba(255,255,255,0),rgba(0,0,0,.8)),$headerBackgroundImage;

  background-size:cover;
  background-position: center center;
  position: relative;
  min-height: 60vh;

  @include centerFlex;

  flex-direction: column;

  .row{
    margin: 0 auto;
    text-align: center;
  }
  h1{
    margin-bottom: 0;
  }
  h4{
    font-weight: 400;
    font-style: italic;
  }
  h1,h4{
    color: white;
  }

  .button--orange{
      margin-right: 3em;
  }
  
  @media (min-width: $wideMonitor )  {
    min-height: 80vh;
  }



  @media(max-width: $mobileBreakpoint){
    min-height: 110vh;

    .buttons{
      flex-direction: row;
      margin-top:10px;
    }
  }

  @media (min-height: 200px) and (max-height: 1500px) and (min-width: $mobileBreakpoint) {

    min-height: 100vh;

  }

}