.hr{

  height: 2px;
  margin:0 auto;
  background: #333;

  &--tiny{

    width: 50px;

  }

  &--left{
    margin:unset;
    margin-right: auto;
  }

  &--full-width{

    width: calc( 100% - 3em);

  }

  &--white{
    background: white;
  }
}