.Intro{

  min-height: 40vh;
  padding:2.5em 0;

  &__content{

    flex:1;

    .content-wrap{
      max-width: 500px;
      margin:0 auto;
    }


  }

  &__image{
    flex:1;
    img{
      margin:2.5vh 0;
      max-width: 700px;
      height: auto;
    }

  }

  .button{
    margin-top:1.5em;
  }



  @media (max-width: $mobileBreakpoint) {
    &__content{
      padding:0 40px;
    }
    &__image {
      margin:0 auto;
      img{
        max-width: 400px;

      }
    }

  }




}