.Navigation{

  height: $navigationHeight;
  z-index: 999;
  transition: all .3s ease-in-out;

  ul{

    display: flex;
    justify-content: space-around;
    align-items: center;
    margin:0;
    height: $navigationHeight;


    li.logo{
      font-size:60px;
      color:#666;
      background:white;
      border-radius: 50%;
      width: 150px;
      height: 150px;
      z-index: 9999;
      display: flex;
      justify-content: center;
      align-content: center;
      align-items: center;
    }
    a{
      color:#333;
    }
  }

  @media(max-width: $mobileBreakpoint){

    height: auto;

      ul{

        margin-top:1.5em;
        height: auto;

        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-left: 0;

        li{
          margin-bottom: 1.5em;
        }

        li.logo{
          order:6;
          width: 100px;
          height: 100px;
          margin-bottom: -60px;
        }

      }

  }

}

body.fixed-nav{
  .Navigation{
    position: fixed;
    width: 100%;
    background: rgba(255,255,255,.8);
    height: 50px;
    z-index: 99998;

    ul{
      height: 50px;
    }
    .logo{
      background: transparent;
      z-index: 99999;
      width: 50px;
      height: 50px;
      font-size: 30px;
    }

  }
  @media (max-width:$mobileBreakpoint) {
    .Navigation{
      visibility: hidden;
    }
  }
}