.Usps{

  margin-top: -10vh;
  max-width: 700px;
  margin:0 auto;


}

.usp{

  &__figure{
    position: relative;
    box-shadow: $boxShadow;
    background: white;
    z-index: 9999;
    transform: rotate(45deg);
    padding:20px;
    width: 100px;
    height: 100px;

    @include centerFlex;
  }

  &__image{
    width: 70px;
    height: auto;
    position: relative;
    transform: rotate(-45deg);
  }

  &__content{
    margin-top:50px;
    text-align: center;
  }
}


@media (max-width: $tabletBreakPoint) {
  .Usps{
    margin-top:0;

  }

  .usp{
    margin: 50px auto;

  }
}