$containerWidth:1200px;

//breakpoints
$mobileBreakpoint:768px;
$tabletBreakPoint:1024px;
$wideMonitor:1800px;

$borderRadius:5px;

$headerBackgroundImage:url("../img/photo-1506862047911-9815cdcb77c2.webp");
$macbookImage:url("../img/macbook.webp");
$explanationBackground:url(../img/laptop-unsplash.jpg);

//typo
$baseFontSize:16px;
$fontFamily:'Fira Sans', sans-serif;

$h1BaseSize:70px;
$h2BaseSize:60px;
$h3BaseSize:45px;
$h4BaseSize:25px;



//
$navigationHeight:80px;
$footerHeight:60px;

//card
$cardContentPadding:85px;

$boxShadow: 0 4px 7px rgba(0,0,0,.45);

