@import "reset";
@import 'colors';
@import "variables";
@import "mixins";
@import "buttons";
@import "navigation";
@import "header";
@import "usps";
@import "hr";
@import "intro";
@import "explanation";
@import "cards";
@import "contact";
@import "prices";
@import "form";
@import "footer";

body,html{
  padding:0;
  margin:0;
  font-size: $baseFontSize;
  font-family: $fontFamily;

  height:100%;
}



h1{ font-size: $h1BaseSize;}
h2{ font-size: $h2BaseSize; margin-bottom: 10px;}
h3{ font-size: $h3BaseSize; }
h4{ font-size: $h4BaseSize; margin-bottom: 10px;}


.container{
  margin:0 auto;
  max-width: $containerWidth;
  height: auto;
}

.flex{
  display: flex;
}

.flex-center{
  align-items: center;
}

.justify-center{
  justify-content: center;
}

.row{
  display: flex;
  width: 100%;

  &--justify-center{
    justify-content: center;
  }
  &--space-between{
    justify-content: space-between;
  }
  &--vert-center{
    align-items: center;
  }
  &--vert{
    flex-direction: column;
  }

  @media (max-width: $mobileBreakpoint) {
    flex-direction: column;
  }

}

section{
  min-height: 25vh;

}

.text-center{
  text-align: center;
}

.text-primary{
  color:$orange;
}




#shape{

  position: absolute;
  bottom:-5%;
  left: 0;
  width: 100%;
}